* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(184, 183, 183);
}
.color-switcher-container {
    background-color: #AD636C;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 100px;
    position: relative;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    
}

.color-switcher-text-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    gap: 12px;
    font-size: 50px;

}

.color-switcher-text-container h2 {
    font-size: 50px;
    font-weight: 500;
}

.color-switcher-text-background {
    color: white;
}

.color-switcher-text-color {
    color: aquamarine;
}

.color-switcher-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 8px 12px;
    color: white;
    font-size: 20px;
    border: none;
}

.color-switcher-clicks {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border: none;
    
}

.color-switcher-reset-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 8px 12px;
    color: white;
    font-size: 20px;
    border: none;
}

.color-switcher-navigation-buttons {
    display: flex;
    gap: 100px;
    margin-top: 100px;
}

.color-switcher-previous-button, .color-switcher-next-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 8px 12px;
    color: white;
    font-size: 20px;
    border: none;
    width: 120px;
}